html {
    display: block;
    background-color: #FFFFFF;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    display: block;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

#root {
    display: block;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
